# Built artifacts
bin/
build/
app/build/
.gradle/
.kotlin/
.idea/
.artifacts/

# Local configuration files
local.properties
.DS_Store

# Android Studio / IntelliJ IDEA
*.iml
*.iws
*.ipr
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/assetWizardSettings.xml
.idea/navEditor.xml
.idea/deploymentTargetDropDown.xml

# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar

# Log files
*.log

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# Crashlytics
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

# Secrets
secrets.properties
